*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;
}
header {
  
  background-color: aquamarine;
  height: 5vh;
 
}

nav {
 text-align: end;
}

li{
  display: inline-block;
  padding: 0.5em;
  font-size: 2rem;
  margin-top: 0.2vh;
  margin-bottom: 4px;
  margin-right: 1vh;
  
  
}
li a {
  text-decoration: none;
  
  
}


figure{
  position: absolute;
  display: inline-block;
  left: 1rem;
  
}
img {
  width: 4vw;
  height: 5vh;
  
}


main{
  height: 90vh;
}

main section {
  display: inline-block;
  height: 90vh;
  width: 20vw;
  background-color: rgb(30, 49, 194)
}

.main .section div{
  
  background-color: rgb(7, 136, 148);
  height: 15vh;
  margin: 6vh 3vh;
  

}

.cont {
  position: absolute;
  left: 20vw;
  width: 80vw;
  padding: 2rem ;
  background-color: rgb(7, 115, 187);
  
}




footer a{
 text-decoration: none;
 
}
footer {
  background-color: aquamarine;
  height: 5vh;
  width: 100vw;
  
}
.sm{
  margin-left: 1rem;
}
.au{
  position: absolute;
  right: 1rem;
 
  
}
footer div{
  display: inline-block;
  margin-top: 1.5vh;
  border-radius: 5px;
  border: 1px;
  border-style: solid;
  padding: 0.35vh 2px;
  
}

footer :hover{
  background-color: rgb(220, 224, 224)
}
footer a{
  color: black
  
}

  